<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongni.dongnimall.dao.BaseTradeMapper">
    <sql id="BaseStore_col">
        id,tradeName,tradeType,price,tradeURL,imageURL,viewCount,updateTime
    </sql>

    <select id="selectAllTrade" resultType="com.dongni.dongnimall.pojo.BaseStore">
        select * from BaseStore
        WHERE 1=1
        <if test="tradeName!=null and tradeName!=''">
           and tradeName=#{tradeName}
        </if>
        <if test="tradeType!=null and tradeType!=''">
            and tradeType=#{tradeType}
        </if>

    </select>

    <insert id="insertTrade" parameterType="com.dongni.dongnimall.pojo.BaseStore">
        insert into BaseStore (<include refid="BaseStore_col"></include>) values
        (#{baseStore.id},#{baseStore.tradeName},#{baseStore.tradeType},#{baseStore.price},#{baseStore.tradeURL},#{baseStore.imageURL},#{baseStore.viewCount},#{baseStore.updateTime})
    </insert>

    <delete id="deleteTrade" parameterType="java.lang.Integer">
        delete from BaseStore where id = #{id}
    </delete>
    <select id="selectByID" parameterType="java.lang.Integer">
        select * from BaseStore where id = #{id}
    </select>
    <update id="updateTrade" parameterType="com.dongni.dongnimall.pojo.BaseStore">
        update BaseStore set tradeName=#{baseStore.tradeName},tradeType=#{baseStore.tradeType},
        price=#{baseStore.price},tradeURL=#{baseStore.tradeURL},updateTime=#{baseStore.updateTime}
        where id = #{baseStore.id}
    </update>
</mapper>