<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongni.dongnimall.dao.BaseTradeMapper">
    <sql id="BaseStore_col">
        id,tradeName,tradeType,price,tradeURL,imageURL,viewCount,updateTime,content
    </sql>

    <select id="selectAllTrade" resultType="com.dongni.dongnimall.pojo.BaseStoreDO">
        select * from basestore
        WHERE 1=1
        <if test="tradeName!=null and tradeName!=''">
            and tradeName like concat(concat('%',#{tradeName}),'%')
        </if>
        <if test="tradeType!=null and tradeType!=''">
            and tradeType=#{tradeType}
        </if>
        order by updateTime desc
    </select>

    <insert id="insertTrade" parameterType="com.dongni.dongnimall.pojo.BaseStoreDO">
        insert into basestore (<include refid="BaseStore_col"></include>) values
        (#{baseStoreDO.id},#{baseStoreDO.tradeName},#{baseStoreDO.tradeType},#{baseStoreDO.price},#{baseStoreDO.tradeURL},#{baseStoreDO.imageURL},#{baseStoreDO.viewCount},#{baseStoreDO.updateTime},#{baseStoreDO.content})
    </insert>

    <delete id="deleteTrade" parameterType="java.lang.String">
        delete from basestore where id = #{id}
    </delete>
    <select id="selectByID" parameterType="java.lang.String">
        select * from basestore where id = #{id}
    </select>
    <update id="updateTrade" parameterType="com.dongni.dongnimall.pojo.BaseStoreDO">
        update basestore set tradeName=#{baseStoreDO.tradeName},tradeType=#{baseStoreDO.tradeType},
        price=#{baseStoreDO.price},tradeURL=#{baseStoreDO.tradeURL},updateTime=#{baseStoreDO.updateTime},content=#{baseStoreDO.content}
        where id = #{baseStoreDO.id}
    </update>
</mapper>