<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongni.dongnimall.dao.FormulaTransactionRecordMapper">
    <sql id="formula_transaction_record_col">
        id,formula_id,user_phone,payment_amount,payment_status,payment_method,create_time
    </sql>
    <resultMap id="formulaTransactionRecordResultMap" type="com.dongni.dongnimall.pojo.FormulaTransactionRecordDO">
        <id column="id" property="id"/>
        <result column="formula_id" property="formula_id"/>
        <result column="user_phone" property="user_phone"/>
        <association property="userDO" column="user_phone" select="com.dongni.dongnimall.dao.UserMapper.selectUserByPhone" ></association>
        <association property="formulaDO" column="formula_id" select="com.dongni.dongnimall.dao.FormulaMapper.selectByID"></association>
    </resultMap>
    <insert id="insertFormulaTransactionRecord" parameterType="com.dongni.dongnimall.pojo.FormulaTransactionRecordDO">
        insert into formula_transaction_record(<include refid="formula_transaction_record_col"></include>)
        values
        (#{formulaTransactionRecordDO.id},#{formulaTransactionRecordDO.formula_id},#{formulaTransactionRecordDO.user_phone},#{formulaTransactionRecordDO.payment_amount},#{formulaTransactionRecordDO.payment_status},#{formulaTransactionRecordDO.payment_method},#{formulaTransactionRecordDO.create_time})
    </insert>

    <delete id="deleteFormulaTransactionRecord" parameterType="String">
        delete from formula_transaction_record
        where id=#{id}
    </delete>

    <select id="selectFormulaTransactionRecord" resultMap="formulaTransactionRecordResultMap">
        select
        <include refid="formula_transaction_record_col"></include>
        from formula_transaction_record
        order by create_time desc
    </select>

    <update id="updateFormulaTransactionRecord" parameterType="com.dongni.dongnimall.pojo.FormulaTransactionRecordDO">
        update formula_transaction_record
        <set>
            <if test="formulaTransactionRecordDO.payment_status!=null">
                payment_status=#{formulaTransactionRecordDO.payment_status}
            </if>
        </set>
        where id=#{formulaTransactionRecordDO.id}
    </update>
</mapper>