<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongni.dongnimall.dao.LogisticsMapper">
    <sql id="logistics_col">
        logistics_number,order_number,delivery_method
    </sql>
    <insert id="insertLogistics" parameterType="com.dongni.dongnimall.pojo.LogisticsDO">
        insert into logistics(<include refid="logistics_col"></include>)
        values (#{logisticsDO.logistics_number},#{logisticsDO.order_number},#{logisticsDO.delivery_method})
    </insert>

    <delete id="deleteLogistics" parameterType="String">
        delete from logistics
        where order_number=#{order_number}
    </delete>

    <select id="selectLogistics" parameterType="String" resultType="com.dongni.dongnimall.pojo.LogisticsDO">
        select <include refid="logistics_col"></include>
        from logistics
        where order_number = #{order_number}
    </select>

</mapper>