<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongni.dongnimall.dao.ManagerMapper">
    <sql id="manager_col">
        id,name,password,create_time,permission
    </sql>
    <select id="selectManageList" resultType="com.dongni.dongnimall.pojo.ManagerDO">
        select
        <include refid="manager_col"></include>
        from manager
    </select>

    <insert id="insertManager" parameterType="com.dongni.dongnimall.pojo.ManagerDO">
        insert into manager (<include refid="manager_col"></include>)
        values
        (#{managerDO.id},#{managerDO.name},#{managerDO.password},#{managerDO.create_time},#{managerDO.permission})
    </insert>

    <select id="selectManagerByName" resultType="com.dongni.dongnimall.pojo.ManagerDO" parameterType="String">
        select
        <include refid="manager_col"></include>
        from manager
        where 1=1
        <if test="name!=null">
            and name = #{name}
        </if>
        <if test="id!=null and id!=''">
            and id != #{id}
        </if>
    </select>

    <select id="selectManagerByNameAndPassword" resultType="com.dongni.dongnimall.pojo.ManagerDO">
        select
        <include refid="manager_col"></include>
        from manager
        where 1=1
        <if test="name!=null and name!='' and password!=null and password!=''">
            and name = #{name} and password=#{password}
        </if>
    </select>

    <update id="updateManager" parameterType="com.dongni.dongnimall.pojo.ManagerDO">
        update manager
        <set>
            <if test="managerDO.name!=null and managerDO.name!=''">
                name = #{managerDO.name},
            </if>
            <if test="managerDO.password!=null and managerDO.password!=''">
                password = #{managerDO.password},
            </if>
            <if test="managerDO.permission!=null">
                permission = #{managerDO.permission},
            </if>
            <if test="managerDO.create_time!=null and managerDO.create_time!=''">
                create_time = #{managerDO.create_time},
            </if>
        </set>
        where id = #{managerDO.id}
    </update>

    <delete id="deleteManager" parameterType="String">
        delete from manager
        where id = #{id}
    </delete>
</mapper>