<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongni.dongnimall.dao.MessageMapper">
    <sql id="message_col">
       id,user_phone,content,create_time,type
   </sql>

    <select id="selectMessageList" resultType="com.dongni.dongnimall.pojo.MessageDO">
        select
        <include refid="message_col"></include>
        from message
        where 1=1
        <if test="user_phone!=null and user_phone!=''">
            and user_phone=#{user_phone}
        </if>
        <if test="type!=null">
            and type=#{type}
        </if>
        order by create_time desc
    </select>

    <select id="selectMessageListByUser" parameterType="String" resultType="com.dongni.dongnimall.pojo.MessageDO">
        select
        <include refid="message_col"></include>
        from message
        where user_phone=#{user_phone} or type=0
        order by create_time desc
    </select>

    <insert id="insertMessage" parameterType="com.dongni.dongnimall.pojo.MessageDO">
        insert into message(<include refid="message_col"></include>)
        values(#{messageDO.id},#{messageDO.user_phone},#{messageDO.content},#{messageDO.create_time},#{messageDO.type})
    </insert>

    <delete id="deleteMessage" parameterType="String">
        delete from message
        where id in
        <foreach collection="list" item="id" open="(" separator="," close=")" index="index">
            #{id}
        </foreach>
    </delete>
</mapper>