<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongni.dongnimall.dao.OrderMapper">
    <sql id="order_col">
        order_number,user_phone,payment_amount,payment_method,order_status,create_time,complete_time
    </sql>
    <insert id="insertOrder" parameterType="com.dongni.dongnimall.pojo.OrderDO">
        insert into `order`(<include refid="order_col"></include>)
        values(#{orderDO.order_number},#{orderDO.user_phone},#{orderDO.payment_amount},#{orderDO.payment_method},#{orderDO.order_status},#{orderDO.create_time},#{orderDO.complete_time})
    </insert>

    <delete id="deleteOrder" parameterType="String">
        delete from `order`
        where order_number=#{order_number}
    </delete>
    <select id="selectOrderList" resultType="com.dongni.dongnimall.pojo.OrderDO">
        select <include refid="order_col"></include>
        from `order`
    </select>

    <update id="updateOrder" parameterType="com.dongni.dongnimall.pojo.OrderDO">
        update `order`
        <set>
            <if test="orderDO.payment_method != null">
                payment_method = #{orderDO.payment_method},
            </if>
            <if test="orderDO.order_status != null">
                order_status = #{orderDO.order_status},
            </if>
            <if test="orderDO.complete_time != null and orderDO.complete_time != ''">
                complete_time = #{orderDO.complete_time}
            </if>
        </set>
        where order_number=#{orderDO.order_number}
    </update>
</mapper>